.upper  {
  text-align: center;
  background-color: #9F8A77;
  color: white;
  padding: 50px;
  padding-bottom: 80px;
}

img {
  padding-right: 10px;
  padding-bottom: 10px;
  width: 33%;
}

button {
  text: white;
  background-color: #9F8A77;
}

#name {
  width: 25%;
}

#phone {
  width: 25%;
}

@media screen and (max-width: 992px) {
	img {
    display: block;
    margin: auto;
    width: 60%;
	}
}
